name: Push to Quay.io

on:
  push:
    branches:
      - 'push-to-quay'

jobs:
  push-to-quay:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull and push image
        run: |
          docker pull 1247537710/node-runner:latest
          docker tag 1247537710/node-runner:latest quay.io/${{ secrets.QUAY_USERNAME }}/node-runner:latest
          docker push quay.io/${{ secrets.QUAY_USERNAME }}/node-runner:latest